@model IEnumerable<Movie_App.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Movie Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.catagory_id</td>
                <td>@item.name</td>
                
                <td>
                    <a href="@Url.Action("Details", new { id = item.catagory_id })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = item.catagory_id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = item.catagory_id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
