@model Movie_App.Models.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Add Movie</h2>

@using (Html.BeginForm("Create", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Movie Name</label>
    @Html.TextBoxFor(x => x.name, new { @class = "form-control", placeholder = "Movie Name" })

    <label>Image</label>
    <input type="file" id="imageFile" name="imageFile" onchange="ChangeShownImage(event)"/>
    <script>
        function ChangeShownImage(event) {
            document.getElementById("shownImage").src = URL.createObjectURL(event.target.files[0]);
    }</script>
    <img src="@Html.DisplayFor(x => x.image)" width="60" height="60" id="shownImage"/>
    <br />

    <label>Description</label>
    @Html.TextAreaFor(x => x.description, new { @class = "form-control", @placeholder = "Movie Description" })

    <label>Category</label>
    @Html.DropDownListFor(x => x.cat_id, ViewBag.CategoriesList as SelectList, "Select Category", new { @class = "form-control" })

    <br />
    <input type="submit" value="Add" />

}

@Html.ActionLink("Back to List", "Index")