@model Movie_App.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>Movie Name</th>
        <td>@Model.name</td>
    </tr>
    <tr>
        <th>Image</th>
        <td>@Model.image</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.description</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>@Model.Categories.name</td>
    </tr>
</table>

@Html.ActionLink("Back to List", "Index")
